<div>Upload file:</div>
<ul>
    <li>Master: <a href="https://dl.dropboxusercontent.com/u/101928943/futurama.docx">futurama.docx</a></li>
</ul>

<form action="api/convert" target="_blank" method="post" enctype="multipart/form-data">
    <div>file <input type="file" name="file" /></div>

    <input type="submit" value="Submit">
</form>

