<div>Compare these 2 files:</div>
<ul>
    <li>Master: <a href="https://dl.dropboxusercontent.com/u/101928943/futurama.docx">futurama.docx</a></li>
    <li>Source: <a href="https://dl.dropboxusercontent.com/u/101928943/futurama%20modified.docx">futurama modified.docx</a></li>
</ul>

<form action="api/compare" target="_blank" method="post" enctype="multipart/form-data">
    <div>Master <input type="file" name="original" /></div>
    <div>Source <input type="file" name="modified" /></div>
    <input type="submit" value="Submit">
</form>


<div>Convert file:</div>
<ul>
    <li>Master: <a href="https://dl.dropboxusercontent.com/u/101928943/futurama.docx">futurama.docx</a></li>
</ul>

<form action="api/convert" target="_blank" method="post" enctype="multipart/form-data">
    <div>file <input type="file" name="file" /></div>

    <input type="submit" value="Submit">
</form>